In [2]:
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import category_encoders as ce
from sklearn.preprocessing import LabelEncoder

In [15]:
#attempting to predict whether or not some has paid off their loan or not
dataSet = pd.read_csv("bank-lending-prediction/lending_topredict.csv")

In [11]:
#data preprocessing 
print(dataSet.isnull().sum())

ID                               0
requested_amnt                   0
loan_duration                    0
employment                   22223
employment_length            20359
race                             0
reason_for_loan                  0
extended_reason               4234
annual_income                    0
debt_to_income_ratio            96
employment_verified              0
public_bankruptcies            181
zipcode                          0
state                            0
home_ownership_status            0
delinquency_last_2yrs            0
fico_score_range_low             0
fico_score_range_high            0
fico_inquired_last_6mths         0
months_since_last_delinq    174434
revolving_balance                0
total_revolving_limit        17296
type_of_application              0
any_tax_liens                   11
loan_paid                        0
dtype: int64

In [12]:
dataSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345310 entries, 0 to 345309
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        345310 non-null  int64
 1   requested_amnt            345310 non-null  float64
 2   loan_duration             345310 non-null  object
 3   employment                323087 non-null  object
 4   employment_length         324951 non-null  object
 5   race                      345310 non-null  object
 6   reason_for_loan           345310 non-null  object
 7   extended_reason           341076 non-null  object
 8   annual_income             345310 non-null  float64
 9   debt_to_income_ratio      345214 non-null  float64
 10  employment_verified       345310 non-null  object
 11  public_bankruptcies       345129 non-null  float64
 12  zipcode                   345310 non-null  object
 13  state                     345310 non-null  object
 14  home_ownership_status     345310 non-null  object
 15  delinquency_last_2yrs     345310 non-null  float64
 16  fico_score_range_low      345310 non-null  float64
 17  fico_score_range_high     345310 non-null  float64
 18  fico_inquired_last_6mths  345310 non-null  float64
 19  months_since_last_delinq  170876 non-null  float64
 20  revolving_balance         345310 non-null  float64
 21  total_revolving_limit     328014 non-null  float64
 22  type_of_application       345310 non-null  object
 23  any_tax_liens             345299 non-null  float64
 24  loan_paid                 345310 non-null  object
dtypes: float64(12), int64(1), object(12)
memory usage: 65.9+ MB

ID                            int64
requested_amnt              float64
loan_duration                 int64
employment                    int64
employment_length             int64
race                          int64
reason_for_loan               int64
extended_reason               int64
annual_income               float64
debt_to_income_ratio        float64
employment_verified           int64
public_bankruptcies          object
zipcode                      object
state                        object
home_ownership_status        object
delinquency_last_2yrs       float64
fico_score_range_low        float64
fico_score_range_high       float64
fico_inquired_last_6mths    float64
months_since_last_delinq    float64
revolving_balance           float64
total_revolving_limit       float64
type_of_application          object
any_tax_liens               float64
loan_paid                    object
dtype: object

In [14]:
#encode the dataSet
listNonNumeric = 'loan_duration','employment','employment_length','race','reason_for_loan','extended_reason','employment_verified','public_bankruptcies','zipcode','state','home_ownership_status','type_of_application'
for x in listNonNumeric: 
    dataSet[x] = dataSet[x].values.astype(str)
    dataSet[x] = dataSet[x].fillna('None')
    # Label encode ord_1 feature
    label_encoder = LabelEncoder()
    dataSet[x] = label_encoder.fit_transform(dataSet[x])
dataSet.head()

,ID,requested_amnt,loan_duration,employment,employment_length,race,reason_for_loan,extended_reason,annual_income,debt_to_income_ratio,...,delinquency_last_2yrs,fico_score_range_low,fico_score_range_high,fico_inquired_last_6mths,months_since_last_delinq,revolving_balance,total_revolving_limit,type_of_application,any_tax_liens,loan_paid
0,1000000,9600.0,0,21526,10,4,2,5316,30000.0,19.01,...,0.0,680.0,684.0,0.0,NaN,18492.0,22900.0,0,0.0,?
1,1000001,8000.0,0,97660,6,1,2,5316,34500.0,31.30,...,0.0,650.0,654.0,0.0,NaN,5119.0,26000.0,0,0.0,?
2,1000002,21000.0,0,72045,1,1,9,11030,45000.0,13.15,...,0.0,650.0,654.0,0.0,NaN,5579.0,8700.0,0,0.0,?
3,1000003,5000.0,0,48976,2,1,1,4124,30000.0,6.74,...,0.0,650.0,654.0,1.0,NaN,3872.0,22100.0,0,0.0,?
4,1000004,3000.0,0,65979,10,1,9,11030,38000.0,0.79,...,0.0,650.0,654.0,0.0,NaN,250.0,8800.0,0,0.0,?

In [17]:
X = dataSet.loc[:, dataSet.columns != 'loan_paid']
y = dataSet['loan_paid']
X_train, X_test, y_train, y_test = train_test_split(X, y)

,ID,requested_amnt,loan_duration,employment,employment_length,race,reason_for_loan,extended_reason,annual_income,debt_to_income_ratio,...,home_ownership_status,delinquency_last_2yrs,fico_score_range_low,fico_score_range_high,fico_inquired_last_6mths,months_since_last_delinq,revolving_balance,total_revolving_limit,type_of_application,any_tax_liens
322318,1322318,10000.0,36 months,Firefighter paramedic,8 years,W,small_business,Business,100000.0,16.60,...,MORTGAGE,1.0,715.0,719.0,0.0,12.0,9977.0,18600.0,Individual,0.0
286168,1286168,22950.0,60 months,owner,6 years,W,debt_consolidation,Debt consolidation,50000.0,17.67,...,MORTGAGE,0.0,690.0,694.0,0.0,NaN,15890.0,26000.0,Individual,0.0
233043,1233043,15000.0,36 months,master instructer,10+ years,B,debt_consolidation,NaN,34000.0,33.71,...,MORTGAGE,0.0,650.0,654.0,0.0,67.0,16823.0,28500.0,Joint App,0.0
76317,1076317,24000.0,36 months,Accountant,7 years,B,debt_consolidation,Debt consolidation,76000.0,15.63,...,MORTGAGE,0.0,650.0,654.0,0.0,NaN,15044.0,62300.0,Individual,0.0
171598,1171598,16300.0,60 months,NaN,NaN,W,debt_consolidation,Debt consolidation,50928.0,27.78,...,RENT,0.0,675.0,679.0,0.0,34.0,14414.0,25500.0,Individual,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60841,1060841,19200.0,36 months,Manager,10+ years,B,debt_consolidation,Debt consolidation,53000.0,15.82,...,RENT,3.0,650.0,654.0,1.0,13.0,8438.0,22700.0,Individual,0.0
2547,1002547,8000.0,36 months,Coventry health care,5 years,W,credit_card,Cc refinance,93000.0,17.34,...,RENT,0.0,670.0,674.0,1.0,NaN,5465.0,6900.0,Individual,0.0
274264,1274264,24250.0,60 months,St. Luke's Hospital,9 years,W,credit_card,Lending Club Payoff Loan,54000.0,24.08,...,MORTGAGE,0.0,695.0,699.0,2.0,NaN,23766.0,29500.0,Individual,0.0
93110,1093110,35000.0,36 months,teacher,10+ years,W,debt_consolidation,Debt consolidation,110000.0,24.75,...,MORTGAGE,0.0,700.0,704.0,0.0,35.0,58023.0,80501.0,Individual,0.0
25665,1025665,13325.0,36 months,NaN,NaN,B,debt_consolidation,Debt consolidation,41000.0,12.91,...,MORTGAGE,0.0,650.0,654.0,1.0,NaN,768.0,3400.0,Individual,0.0

In [19]:
clf_gbm = GradientBoostingClassifier()
clf_gbm.fit(X_train, y_train)

ValueError: could not convert string to float: ' 36 months'

Collecting category_encoders
  Downloading category_encoders-2.5.1.post0-py2.py3-none-any.whl (72 kB)
     |████████████████████████████████| 72 kB 983 kB/s eta 0:00:01
Requirement already satisfied: statsmodels>=0.9.0 in /Users/lucasmazza/opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (0.12.0)
Requirement already satisfied: scipy>=1.0.0 in /Users/lucasmazza/opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (1.5.2)
Requirement already satisfied: numpy>=1.14.0 in /Users/lucasmazza/opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (1.22.4)
Requirement already satisfied: pandas>=1.0.5 in /Users/lucasmazza/opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (1.1.3)
Requirement already satisfied: scikit-learn>=0.20.0 in /Users/lucasmazza/opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (1.1.2)
Requirement already satisfied: patsy>=0.5.1 in /Users/lucasmazza/opt/anaconda3/lib/python3.8/site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/lucasmazza/opt/anaconda3/lib/python3.8/site-packages (from pandas>=1.0.5->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/lucasmazza/opt/anaconda3/lib/python3.8/site-packages (from pandas>=1.0.5->category_encoders) (2020.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/lucasmazza/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.20.0->category_encoders) (2.1.0)
Requirement already satisfied: joblib>=1.0.0 in /Users/lucasmazza/opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)
Requirement already satisfied: six in /Users/lucasmazza/opt/anaconda3/lib/python3.8/site-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.5.1.post0
Note: you may need to restart the kernel to use updated packages.